.DS_Store
/node_modules/
/dist/
/temp/
/showcase/dist/
/out-tsc
npm-debug.log
.publish
.sw*
.idea
*.iml
.vscode
local.docs.json
yarn-error.log
.ng_pkg_build
showcase/src/api-docs.ts
showcase/src/contributors.ts
showcase/src/public/**/plnkr.html
